@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;    
}

.container {
    margin: 100px;
    padding: 0 100px;
}

.kart {
    display: grid;
    max-width: 700px;
    grid-template-columns: 1fr 1fr;
    background-color: #FFF ;
    border-radius: 20px;
    overflow: hidden;
}

.resim img {
    max-width: 100%;
    display: inherit;
}

.cart-icerik {
    padding: 40px;
}

h6.ilk-bas {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12pt;
    color:hsl(228, 12%, 48%);
    font-weight: 500;
    margin-bottom: 20px;
}

h1.ikinci-bas {
    font-family: 'Fraunces', serif;
    color:hsl(212, 21%, 14%);
    font-size: 27pt;
    margin-bottom: 20px;
}

p.yazi {
    font-size: 12pt;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 25px;
    line-height: 1.5em; /*Satırlar arası mesafe*/
}

.fiyat {
    display: flex;  /*diğer fiyatı yanına getirir. */
    align-items: center;
    margin-bottom: 30px;
}

p.ilk-fiyat {
    font-size: 25pt;
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 500;
    
}

p.ikinci-fiyat {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through; /*Üsgtü çizili yazar.*/
    margin-left: 25px;
}

.card-b {
   background-color:hsl(158, 36%, 37%);
   border: none;
   color: #FFF;
   padding: 15px;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 700;
   width: 100%;
   cursor: pointer;   /*Üstüne gelindiğinde click simgesi gösterir. */
}

span.simge {
    color: #FFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}